In [1]:
import pandas as pd
import numpy as numpy
from sklearn.preprocessing import OneHotEncoder

In [2]:
df = pd.read_csv("Pokemon.csv")

In [3]:
df.isnull().sum().sum()

0

In [4]:
df.head()

,Name,Type,Strength,HP,Attack,Defense,Legendary
0,Thundurus Incarnate Forme,Electric,Medium,79,115,70,True
1,Mega Garchomp,Dragon,Strong,108,170,115,False
2,Rayquaza,Dragon,Strong,105,150,90,True
3,Ekans,Poison,Low,35,60,44,False
4,Reshiram,Dragon,Strong,100,120,100,True

In [5]:
df["Type"].unique()

array(['Electric', 'Dragon', 'Poison'], dtype=object)

In [6]:
enc = OneHotEncoder()

In [7]:
enc.fit_transform(df[["Type"]]).toarray()

array([[0., 1., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [8]:
feature_array = enc.fit_transform(df[["Type"]]).toarray()

In [9]:
enc.categories_

[array(['Dragon', 'Electric', 'Poison'], dtype=object)]

In [10]:
feature_labels = enc.categories_

In [11]:
pd.DataFrame(feature_array,columns=feature_labels)

    Dragon Electric Poison
0      0.0      1.0    0.0
1      1.0      0.0    0.0
2      1.0      0.0    0.0
3      0.0      0.0    1.0
4      1.0      0.0    0.0
..     ...      ...    ...
137    1.0      0.0    0.0
138    1.0      0.0    0.0
139    0.0      0.0    1.0
140    0.0      1.0    0.0
141    1.0      0.0    0.0

[142 rows x 3 columns]

In [12]:
final_features = pd.DataFrame(feature_array,columns=feature_labels)

In [13]:
final_features.head()

  Dragon Electric Poison
0    0.0      1.0    0.0
1    1.0      0.0    0.0
2    1.0      0.0    0.0
3    0.0      0.0    1.0
4    1.0      0.0    0.0

In [14]:
final_df=pd.concat([df,final_features],axis=1)

In [15]:
final_df.head()

,Name,Type,Strength,HP,Attack,Defense,Legendary,"(Dragon,)","(Electric,)","(Poison,)"
0,Thundurus Incarnate Forme,Electric,Medium,79,115,70,True,0.0,1.0,0.0
1,Mega Garchomp,Dragon,Strong,108,170,115,False,1.0,0.0,0.0
2,Rayquaza,Dragon,Strong,105,150,90,True,1.0,0.0,0.0
3,Ekans,Poison,Low,35,60,44,False,0.0,0.0,1.0
4,Reshiram,Dragon,Strong,100,120,100,True,1.0,0.0,0.0